<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Cat Store - Pet Shop</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/styles-overwrites.css" rel="stylesheet" />
        
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-height">
            <div class="container">
                <!-- Added icon and new style for brand -->
                <a class="navbar-brand font-size-30 fw-bolder" href="#">
                    <i class="fa-solid fa-cat app-color"></i>
                    <span class="app-color">Cat</span><span class="app-color-sec">Shop</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <!-- Different pages will be handled using this guide - Reference: https://medium.com/altcampus/implementing-simple-spa-routing-using-vanilla-javascript-53abe399bf3c-->
                        <li class="nav-item"><a class="nav-link active" id="nav-home" aria-current="page" href="#" onclick="onNavigate('/', 'nav-home'); return false;">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" id="nav-shop" onclick="onNavigate('/shop', 'nav-shop'); return false;">Shop</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" id="nav-manager" onclick="onNavigate('/manager', 'nav-manager'); return false;">Shop manager</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Page content-->
        <div class="container">
            <hr class="divider"/>
                <!-- For routing - content will be placed as innerhtml inside this div Reference: https://medium.com/altcampus/implementing-simple-spa-routing-using-vanilla-javascript-53abe399bf3c-->
                <div id="root"></div>
        </div>

        <!-- Page footer -->
        <footer class="container text-center margin-top-120 app-color">
            <hr class="divider"/>
            <p>Gabriel Eugenio Silva</p>
            <p>2021240</p>
        </div>

        <!-- jquery import from teacher project -->
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <!-- added Font-awesome kit using https://fontawesome.com/kits/ -->
        <script src="https://kit.fontawesome.com/710549ee58.js" crossorigin="anonymous"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- Router pages -->
        <!-- Home page -->
        <script src="js/home.js"></script>
        <!-- Cart page -->
        <script src="js/manager.js"></script>
        <!-- Shop page -->
        <script src="js/shop.js"></script>
        <!-- Router - need to be added after pages or it gives error -->
        <script src="js/router.js"></script>
        
    </body>
</html>
