/*!
* My styles to overwrite styles.css
* and to add additional styles
*/
.navbar-height{
    height: 150px;
}
/*! Main color for application is orange */
.app-color{
    color: #F18A03;
}
.app-background{
    background-color:#F18A03;
}
/*! Secondary color for application is cyan blue */
.app-color-sec{
    color: #00B6CA;
}

.app-background-sec{
    background-color:#00B6CA;
}

.font-size-30{
    font-size:30px;
}

.divider{
    margin-top: 0;
    color: #F18A03;
}

.margin-top-120{
    margin-top: 120px;
}

.margin-bottom-120{
    margin-bottom: 120px;
}
.margin-top-60{
    margin-top: 60px;
}
.margin-bottom-60{
    margin-bottom: 60px;
}
.margin-top-25{
    margin-top: 25px;
}
.margin-bottom-35{
    margin-bottom: 35px;
}
.paw-icon{
    top: -26px;
    font-size: 74px;
}
.top, .top-left, .top-right{
    max-height: 330px;
}

.img-crcle{
    border-radius: 100%;
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    color:#fff;
}
.img-circle-blue{
    background-color: #1a5dc1;
}
.img-circle-orange{
    background-color: #f18a03;
}
.img-circle-green{
    background-color: #27c165;
}
.img-circle-red{
    background-color: #c51414;
}  
.img-circle-icon{
    left: 20px;
    top: 20px;
} 

footer{
    padding: 32px;
    margin-top: 100px;
    
}


/*! Overwrite bootstrap navbar classes change color */
.navbar-light .navbar-nav .nav-link{
    color: #F8B34D!important;
}
.navbar-light .navbar-nav .nav-link:hover{
    background-color: #ffefe1!important;
    font-weight: 600;
    border-radius: 6px;
}
.nav-link, .navbar-light .navbar-nav .nav-link.active{
    color: #F18A03!important;
}

/*! Overwrite bootstrap buttons and change primary button color */
.btn-primary{
    color: #fff;
    background-color: #f18a03;
    border-color: #f18a03;
}
.btn-primary:hover{
    color: #fff;
    background-color: #d17d0f;
    border-color: #d17d0f;
}

.btn-success{
    color: #fff;
    background-color: #00b6ca;
    border-color: #00b6ca;
}

.btn-success:hover{
    color: #fff;
    background-color: #1292a1;
    border-color: #1292a1;
}

.btn{
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

/*! Overwrite bootstrap card classes 
*   Used box shadow generator for shadows https://cssgenerator.org/box-shadow-css-generator.html
*/
.card{
    box-shadow: 1px 1px 22px -3px rgba(0,0,0,0.24);
    -webkit-box-shadow: 1px 1px 22px -3px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 1px 22px -3px rgba(0,0,0,0.24);
    border-radius: 32px;
}
.card-body{
    padding-top: 40px;
    padding-bottom: 40px;
}
.card-title{
    margin-top: 30px;
    margin-bottom: 30px;
}